/* Clear floats */

.clearfix{
    clear:both;
}

/* Navigation */

.tabs{
    list-style-type:none;
    float:right;
}

.tabs li{
    display:inline-block;
    
}
.tabs li{

    padding-right:100px;
    padding-left:100px;
}




.logo{
    float:left;
}
.hero{
    background:url("../images/ezgif-2-b583d0ce77.png") no-repeat center center/cover;
    height: 60vh;
    position:relative;

}
h1{
    color:blue
}
.quality{
    position:absolute;
    top: 60px;
    left:55%;
    transform: translate(-20%,50%);
}
.a{
    background-color:#496bf2;
    color:white;
    padding:8px;
    
}
.b{
    background-color:#2dd6c1;
    color:white;
    padding:8px;
}
.qualified{
    margin-top:50px;
    margin-left:50px;
    width:10%;
    box-shadow:5px 5px 5px  darkgrey
}
.emergency{
    margin-top:50px;
    margin-left:50px;
    width:10%;
    box-shadow:5px 5px 5px  darkgrey
}
.services{
    margin-top:50px;
    margin-left:50px;
    width:10%;
    box-shadow:5px 5px 5px  darkgrey
    

}
.care{
    display:flex;
    
}